In [428]:
import pandas as pd
import numpy as np
from datetime import datetime

pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format

# d = lambda x: datetime.strptime(x, '%d-%b-%y')


coffee_dist = pd.read_csv('/Users/moezhudda/Workspace/200/github/Project2_Team_7/psd_coffee.csv', index_col=False)
coffee_review = pd.read_csv('/Users/moezhudda/Workspace/200/github/Project2_Team_7/coffee_reviews_supplemental.csv', index_col=False)
country_temp = pd.read_csv('/Users/moezhudda/Workspace/200/github/Project2_Team_7/country_temp.csv', index_col=False)
coffee_country_metadata = pd.read_csv('/Users/moezhudda/Workspace/200/github/Project2_Team_7/coffee_country_metadata.csv', index_col=False)

In [429]:
coffee_dist.columns = coffee_dist.columns.str.replace(' ', '_')


coffee_dist = coffee_dist[['Country', 'Year', 'Arabica_Production', 'Robusta_Production', 'Other_Production', 'Production', 'Total_Supply', 'Total_Distribution', 
            'Bean_Exports', 'Bean_Imports','Exports','Imports',
            'Roast_&_Ground_Exports','Roast_&_Ground_Imports', 'Soluble_Exports','Soluble_Imports', 'Domestic_Consumption']]

In [430]:
#Production
coffee_dist.groupby(['Country']).Production.sum()

Country
Albania                           0
Algeria                           0
Angola                        55827
Argentina                         0
Armenia                           0
Australia                         0
Benin                           869
Bolivia                        7362
Bosnia and Herzegovina            0
Brazil                      2221150
Burundi                       22106
Cameroon                      67286
Canada                            0
Central African Republic       8759
Chile                             0
China                         27974
Colombia                     705440
Congo (Brazzaville)             860
Congo (Kinshasa)              56963
Costa Rica                   113218
Cote d'Ivoire                201501
Croatia                           0
Cuba                          20339
Dominican Republic            38720
Ecuador                       69006
Egypt                             0
El Salvador                  121136
Equatorial Guinea              1944
Ethiopia                     259389
European Union                    0
Gabon                           608
Georgia                           0
Ghana                          2346
Guatemala                    197301
Guinea                        11341
Guyana                          468
Haiti                         26301
Honduras                     161341
India                        211655
Indonesia                    412023
Iran                              0
Jamaica                        1691
Japan                             0
Jordan                            0
Kazakhstan                        0
Kenya                         70944
Korea, South                      0
Kosovo                            0
Laos                          12338
Liberia                        3331
Madagascar                    49637
Malawi                         1860
Malaysia                      37694
Mexico                       253463
Montenegro                        0
Morocco                           0
New Caledonia                   575
New Zealand                       0
Nicaragua                     78680
Nigeria                        2863
North Macedonia                   0
Norway                            0
Panama                         7902
Papua New Guinea              50647
Paraguay                       3294
Peru                         134088
Philippines                   42674
Russia                            0
Rwanda                        21711
Saudi Arabia                      0
Senegal                           0
Serbia                            0
Sierra Leone                   5563
Singapore                         0
South Africa                      0
Sri Lanka                      1863
Switzerland                       0
Taiwan                            0
Tanzania                      55029
Thailand                      38261
Togo                          12654
Trinidad and Tobago            1512
Turkey                            0
Uganda                       210125
Ukraine                           0
United Kingdom                    0
United States                 11608
Uruguay                           0
Venezuela                     56168
Vietnam                      601014
Yemen                          3301
Yemen (Sanaa)                  1911
Zambia                         1233
Zimbabwe                       4228
Name: Production, dtype: int64

In [431]:
#NOT USING ANYMORE
#num of countries that have these ratings
#coffee_review.groupby(['rating']).rating.size()

In [432]:
#NOT USING ANYMORE

#mean of country rating sorted by highest
# country_review_score = coffee_review.groupby('origin').rating.mean().sort_values(ascending=False)
# country_review_score

In [433]:
#NOT USING ANYMORE

#merged review supplemental data set with coffee distribution data set
# merged_table = pd.merge(coffee_dist, coffee_review, left_on='Country', right_on='origin')
# merged_table

In [434]:
#NOT USING ANYMORE

# merged_table.drop(columns=['roaster', 'loc_country', 'review', 'name', 'roast'], inplace=True)

In [435]:
#NOT USING ANYMORE

#running mean on ratings for countries we have in both the dist and our new merged table
# country_review_score = merged_table.groupby('origin').rating.mean().sort_values(ascending=False)
# country_review_score

In [436]:
#NOT USING ANYMORE

#getting average cost per country by 100G USD
# merged_table.rename(columns={'100g_USD': 'cost_100G'}, inplace=True)
# country_avg_cost = merged_table.groupby('origin').cost_100G.mean().sort_values(ascending=False)
# country_avg_cost

In [437]:
coffee_country_metadata.drop(columns=['Owner', 'Farm.Name', 'Lot.Number', 'Mill', 'ICO.Number', 'Company', 'Altitude', 
                                      'Region', 'Producer','Number.of.Bags', 'Bag.Weight', 'In.Country.Partner', 'Owner.1', 
                                      'Variety', 'Cupper.Points','Category.One.Defects', 'Quakers', 'Category.Two.Defects', 
                                      'Expiration', 'Certification.Body','Certification.Address', 'Certification.Contact', 'unit_of_measurement', 
                                      'altitude_low_meters', 'altitude_high_meters'], inplace=True)

In [438]:
coffee_country_metadata.columns = coffee_country_metadata.columns.str.replace('.', '_')
coffee_country_metadata.columns

/var/folders/0d/k258zy1x0zx4_vnwhcm4_yrr0000gn/T/ipykernel_74447/348675477.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  coffee_country_metadata.columns = coffee_country_metadata.columns.str.replace('.', '_')

Index(['Unnamed: 0', 'Species', 'Country_of_Origin', 'Harvest_Year',
       'Grading_Date', 'Processing_Method', 'Aroma', 'Flavor', 'Aftertaste',
       'Acidity', 'Body', 'Balance', 'Uniformity', 'Clean_Cup', 'Sweetness',
       'Total_Cup_Points', 'Moisture', 'Color', 'altitude_mean_meters'],
      dtype='object')

In [439]:
#merged review supplemental data set with coffee distribution data set
merged_table_2 = pd.merge(coffee_dist, coffee_country_metadata, left_on='Country', right_on='Country_of_Origin')
merged_table_2

,Country,Year,Arabica_Production,Robusta_Production,Other_Production,Production,Total_Supply,Total_Distribution,Bean_Exports,Bean_Imports,...,Acidity,Body,Balance,Uniformity,Clean_Cup,Sweetness,Total_Cup_Points,Moisture,Color,altitude_mean_meters
0,Brazil,1960,29800,0,0,29800,83320,83320,16110,0,...,8.50,8.25,8.33,10.00,10.00,10.00,88.83,0.11,Bluish-Green,NaN
1,Brazil,1960,29800,0,0,29800,83320,83320,16110,0,...,8.00,8.00,8.00,10.00,10.00,10.00,86.92,0.12,Green,"1,250.00"
2,Brazil,1960,29800,0,0,29800,83320,83320,16110,0,...,7.75,8.00,8.00,10.00,10.00,10.00,86.42,0.12,Green,"1,300.00"
3,Brazil,1960,29800,0,0,29800,83320,83320,16110,0,...,7.75,8.33,8.00,10.00,10.00,10.00,86.17,0.08,NaN,12.00
4,Brazil,1960,29800,0,0,29800,83320,83320,16110,0,...,7.75,7.92,8.00,10.00,10.00,10.00,86.17,0.01,NaN,12.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
77499,Zambia,2019,0,0,0,0,0,0,0,0,...,7.33,7.75,7.42,10.00,10.00,10.00,81.92,0.00,NaN,"1,250.00"
77500,Zambia,2020,0,0,0,0,0,0,0,0,...,7.33,7.75,7.42,10.00,10.00,10.00,81.92,0.00,NaN,"1,250.00"
77501,Zambia,2021,0,0,0,0,0,0,0,0,...,7.33,7.75,7.42,10.00,10.00,10.00,81.92,0.00,NaN,"1,250.00"
77502,Zambia,2022,0,0,0,0,0,0,0,0,...,7.33,7.75,7.42,10.00,10.00,10.00,81.92,0.00,NaN,"1,250.00"
77503,Zambia,2023,0,0,0,0,0,0,0,0,...,7.33,7.75,7.42,10.00,10.00,10.00,81.92,0.00,NaN,"1,250.00"

In [440]:
coffee_country_metadata.rename(columns={'Country_of_Origin': 'Country'}, inplace=True)
coffee_country_metadata

,Unnamed: 0,Species,Country,Harvest_Year,Grading_Date,Processing_Method,Aroma,Flavor,Aftertaste,Acidity,Body,Balance,Uniformity,Clean_Cup,Sweetness,Total_Cup_Points,Moisture,Color,altitude_mean_meters
0,0,Arabica,Ethiopia,2014,"April 4th, 2015",Washed / Wet,8.67,8.83,8.67,8.75,8.50,8.42,10.00,10.00,10.00,90.58,0.12,Green,"2,075.00"
1,1,Arabica,Ethiopia,2014,"April 4th, 2015",Washed / Wet,8.75,8.67,8.50,8.58,8.42,8.42,10.00,10.00,10.00,89.92,0.12,Green,"2,075.00"
2,2,Arabica,Guatemala,NaN,"May 31st, 2010",NaN,8.42,8.50,8.42,8.42,8.33,8.42,10.00,10.00,10.00,89.75,0.00,NaN,"1,700.00"
3,3,Arabica,Ethiopia,2014,"March 26th, 2015",Natural / Dry,8.17,8.58,8.42,8.42,8.50,8.25,10.00,10.00,10.00,89.00,0.11,Green,"2,000.00"
4,4,Arabica,Ethiopia,2014,"April 4th, 2015",Washed / Wet,8.25,8.50,8.25,8.50,8.42,8.33,10.00,10.00,10.00,88.83,0.12,Green,"2,075.00"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1334,1334,Robusta,Ecuador,2016,"January 19th, 2016",NaN,7.75,7.58,7.33,7.58,5.08,7.83,10.00,10.00,7.75,78.75,0.00,Blue-Green,NaN
1335,1335,Robusta,Ecuador,2016,"January 19th, 2016",NaN,7.50,7.67,7.75,7.75,5.17,5.25,10.00,10.00,8.42,78.08,0.00,Blue-Green,40.00
1336,1336,Robusta,United States,2014,"December 23rd, 2014",Natural / Dry,7.33,7.33,7.17,7.42,7.50,7.17,9.33,9.33,7.42,77.17,0.00,NaN,795.00
1337,1337,Robusta,India,2013,"August 25th, 2014",Natural / Dry,7.42,6.83,6.75,7.17,7.25,7.00,9.33,9.33,7.08,75.08,0.10,Green,NaN
1338,1338,Robusta,Vietnam,2013,"August 25th, 2014",Natural / Dry,6.75,6.67,6.50,6.83,6.92,6.83,9.33,9.33,6.67,73.75,0.12,None,NaN

In [453]:

mean_ranking = coffee_country_metadata.groupby('Country').Total_Cup_Points.mean().sort_values(ascending=False)
mean_ranking

Country
Papua New Guinea               85.75
Ethiopia                       85.48
Japan                          84.67
United States                  84.43
Kenya                          84.31
Panama                         83.71
Uganda                         83.45
Colombia                       83.11
El Salvador                    83.05
China                          82.93
Rwanda                         82.83
Costa Rica                     82.79
Thailand                       82.57
Indonesia                      82.57
Peru                           82.53
Brazil                         82.41
Tanzania, United Republic Of   82.37
Taiwan                         82.00
Zambia                         81.92
Guatemala                      81.85
Laos                           81.83
Burundi                        81.83
United States (Hawaii)         81.82
United States (Puerto Rico)    81.73
Malawi                         81.71
Vietnam                        81.21
India                          81.08
Mexico                         80.89
Philippines                    80.83
Myanmar                        80.75
Mauritius                      80.50
Nicaragua                      80.46
Ecuador                        80.22
Honduras                       79.36
Cote d?Ivoire                  79.33
Haiti                          77.18
Name: Total_Cup_Points, dtype: float64

In [442]:
#avg altitude per country
mean_altitude = merged_table_2.groupby('Country').altitude_mean_meters.mean().sort_values(ascending=False)

In [443]:
#avg acididty per country
mean_acidity = merged_table_2.groupby('Country').Acidity.mean().sort_values(ascending=False)

In [444]:
#avg body per country
mean_body = merged_table_2.groupby('Country').Body.mean().sort_values(ascending=False)

In [445]:
#avg balance per country
mean_balance = merged_table_2.groupby('Country').Balance.mean().sort_values(ascending=False)

In [446]:
#avg uniformity per country
mean_uniformity = merged_table_2.groupby('Country').Uniformity.mean().sort_values(ascending=False)

In [447]:
#avg Sweetness per country
mean_sweetness = merged_table_2.groupby('Country').Sweetness.mean().sort_values(ascending=False)
mean_sweetness

Country
Laos               10.00
Japan              10.00
Papua New Guinea   10.00
Panama             10.00
Malawi             10.00
Burundi            10.00
Zambia             10.00
Kenya               9.97
Mexico              9.97
Indonesia           9.97
Taiwan              9.96
Thailand            9.96
Colombia            9.95
Brazil              9.95
China               9.92
Costa Rica          9.91
Guatemala           9.87
Philippines         9.87
Peru                9.87
Ethiopia            9.86
Nicaragua           9.82
El Salvador         9.81
Honduras            9.66
Vietnam             9.58
United States       9.50
Uganda              9.36
Rwanda              9.33
Haiti               9.11
Ecuador             8.72
India               7.62
Name: Sweetness, dtype: float64

In [448]:
#avg moisture per country
mean_moisture = merged_table_2.groupby('Country').Moisture.mean().sort_values(ascending=False)
mean_moisture

Country
Malawi             0.12
Papua New Guinea   0.12
Japan              0.12
Uganda             0.11
Mexico             0.11
Rwanda             0.11
Haiti              0.11
Honduras           0.11
Nicaragua          0.11
Guatemala          0.10
Indonesia          0.10
China              0.09
Thailand           0.09
Laos               0.08
Costa Rica         0.08
Ethiopia           0.08
Brazil             0.08
Taiwan             0.08
Kenya              0.08
Philippines        0.07
Panama             0.07
Vietnam            0.07
Peru               0.07
Colombia           0.06
Burundi            0.06
El Salvador        0.05
India              0.04
Ecuador            0.03
United States      0.00
Zambia             0.00
Name: Moisture, dtype: float64

In [449]:
characteristics_merged = pd.merge(mean_sweetness, mean_moisture, on='Country')
characteristics_merged

                  Sweetness  Moisture
Country
Laos                  10.00      0.08
Japan                 10.00      0.12
Papua New Guinea      10.00      0.12
Panama                10.00      0.07
Malawi                10.00      0.12
Burundi               10.00      0.06
Zambia                10.00      0.00
Kenya                  9.97      0.08
Mexico                 9.97      0.11
Indonesia              9.97      0.10
Taiwan                 9.96      0.08
Thailand               9.96      0.09
Colombia               9.95      0.06
Brazil                 9.95      0.08
China                  9.92      0.09
Costa Rica             9.91      0.08
Guatemala              9.87      0.10
Philippines            9.87      0.07
Peru                   9.87      0.07
Ethiopia               9.86      0.08
Nicaragua              9.82      0.11
El Salvador            9.81      0.05
Honduras               9.66      0.11
Vietnam                9.58      0.07
United States          9.50      0.00
Uganda                 9.36      0.11
Rwanda                 9.33      0.11
Haiti                  9.11      0.11
Ecuador                8.72      0.03
India                  7.62      0.04

In [450]:
mean_ranking

Country
Papua New Guinea               85.75
Ethiopia                       85.48
Japan                          84.67
United States                  84.43
Kenya                          84.31
Panama                         83.71
Uganda                         83.45
Colombia                       83.11
El Salvador                    83.05
China                          82.93
Rwanda                         82.83
Costa Rica                     82.79
Thailand                       82.57
Indonesia                      82.57
Peru                           82.53
Brazil                         82.41
Tanzania, United Republic Of   82.37
Taiwan                         82.00
Zambia                         81.92
Guatemala                      81.85
Laos                           81.83
Burundi                        81.83
United States (Hawaii)         81.82
United States (Puerto Rico)    81.73
Malawi                         81.71
Vietnam                        81.21
India                          81.08
Mexico                         80.89
Philippines                    80.83
Myanmar                        80.75
Mauritius                      80.50
Nicaragua                      80.46
Ecuador                        80.22
Honduras                       79.36
Cote d?Ivoire                  79.33
Haiti                          77.18
Name: Total_Cup_Points, dtype: float64

In [451]:
characteristics_merged_complete = characteristics_merged.merge(mean_balance, on='Country').merge(mean_acidity, on='Country').merge(mean_altitude, on='Country').merge(mean_body, on='Country').merge(mean_uniformity, on='Country')
characteristics_merged_complete

,Sweetness,Moisture,Balance,Acidity,altitude_mean_meters,Body,Uniformity
Country,,,,,,,
Laos,10.00,0.08,7.42,7.31,"1,283.33",7.36,10.00
Japan,10.00,0.12,7.83,7.42,170.00,8.08,10.00
Papua New Guinea,10.00,0.12,8.25,8.33,"1,700.00",8.00,9.33
Panama,10.00,0.07,7.88,7.71,"1,515.00",7.58,10.00
Malawi,10.00,0.12,7.37,7.41,"1,403.55",7.34,10.00
Burundi,10.00,0.06,7.42,7.42,"1,790.00",7.29,10.00
Zambia,10.00,0.00,7.42,7.33,"1,250.00",7.75,10.00
Kenya,9.97,0.08,7.80,7.87,"1,502.35",7.73,9.97
Mexico,9.97,0.11,7.33,7.43,"1,235.36",7.38,9.74
Indonesia,9.97,0.10,7.52,7.49,"1,481.94",7.63,9.93
Taiwan,9.96,0.08,7.43,7.42,729.27,7.45,9.89
Thailand,9.96,0.09,7.52,7.60,"1,094.99",7.55,9.94
Colombia,9.95,0.06,7.71,7.56,"1,585.64",7.61,9.93
Brazil,9.95,0.08,7.53,7.51,"1,016.77",7.54,9.88
China,9.92,0.09,7.55,7.58,"1,463.12",7.57,9.96
Costa Rica,9.91,0.08,7.64,7.57,"1,380.13",7.54,9.86
Guatemala,9.87,0.10,7.47,7.60,"3,860.26",7.48,9.85
Philippines,9.87,0.07,7.40,7.27,"1,280.00",7.30,9.87
Peru,9.87,0.07,7.67,7.70,"1,300.00",7.80,9.53
Ethiopia,9.86,0.08,7.97,8.04,"1,800.30",7.92,9.88
Nicaragua,9.82,0.11,7.28,7.27,"7,142.36",7.40,9.79
El Salvador,9.81,0.05,7.71,7.59,"1,333.16",7.61,9.94
Honduras,9.66,0.11,7.16,7.23,"1,425.41",7.24,9.65
Vietnam,9.58,0.07,7.46,7.36,"1,258.57",7.54,9.67
United States,9.50,0.00,7.82,7.93,"1,866.89",7.84,9.87
Uganda,9.36,0.11,7.66,7.71,"1,590.82",7.72,10.00
Rwanda,9.33,0.11,7.75,7.83,"1,900.00",7.75,9.33
Haiti,9.11,0.11,7.06,7.13,883.36,7.28,9.78
Ecuador,8.72,0.03,6.97,7.69,420.00,6.03,10.00
India,7.62,0.04,7.67,7.64,"1,421.67",7.66,9.90

In [455]:
characteristics_merged_complete_with_ranking = pd.merge(characteristics_merged_complete, mean_ranking, on='Country')
characteristics_merged_complete_with_ranking

,Sweetness,Moisture,Balance,Acidity,altitude_mean_meters,Body,Uniformity,Total_Cup_Points
Country,,,,,,,,
Laos,10.00,0.08,7.42,7.31,"1,283.33",7.36,10.00,81.83
Japan,10.00,0.12,7.83,7.42,170.00,8.08,10.00,84.67
Papua New Guinea,10.00,0.12,8.25,8.33,"1,700.00",8.00,9.33,85.75
Panama,10.00,0.07,7.88,7.71,"1,515.00",7.58,10.00,83.71
Malawi,10.00,0.12,7.37,7.41,"1,403.55",7.34,10.00,81.71
Burundi,10.00,0.06,7.42,7.42,"1,790.00",7.29,10.00,81.83
Zambia,10.00,0.00,7.42,7.33,"1,250.00",7.75,10.00,81.92
Kenya,9.97,0.08,7.80,7.87,"1,502.35",7.73,9.97,84.31
Mexico,9.97,0.11,7.33,7.43,"1,235.36",7.38,9.74,80.89
Indonesia,9.97,0.10,7.52,7.49,"1,481.94",7.63,9.93,82.57
Taiwan,9.96,0.08,7.43,7.42,729.27,7.45,9.89,82.00
Thailand,9.96,0.09,7.52,7.60,"1,094.99",7.55,9.94,82.57
Colombia,9.95,0.06,7.71,7.56,"1,585.64",7.61,9.93,83.11
Brazil,9.95,0.08,7.53,7.51,"1,016.77",7.54,9.88,82.41
China,9.92,0.09,7.55,7.58,"1,463.12",7.57,9.96,82.93
Costa Rica,9.91,0.08,7.64,7.57,"1,380.13",7.54,9.86,82.79
Guatemala,9.87,0.10,7.47,7.60,"3,860.26",7.48,9.85,81.85
Philippines,9.87,0.07,7.40,7.27,"1,280.00",7.30,9.87,80.83
Peru,9.87,0.07,7.67,7.70,"1,300.00",7.80,9.53,82.53
Ethiopia,9.86,0.08,7.97,8.04,"1,800.30",7.92,9.88,85.48
Nicaragua,9.82,0.11,7.28,7.27,"7,142.36",7.40,9.79,80.46
El Salvador,9.81,0.05,7.71,7.59,"1,333.16",7.61,9.94,83.05
Honduras,9.66,0.11,7.16,7.23,"1,425.41",7.24,9.65,79.36
Vietnam,9.58,0.07,7.46,7.36,"1,258.57",7.54,9.67,81.21
United States,9.50,0.00,7.82,7.93,"1,866.89",7.84,9.87,84.43
Uganda,9.36,0.11,7.66,7.71,"1,590.82",7.72,10.00,83.45
Rwanda,9.33,0.11,7.75,7.83,"1,900.00",7.75,9.33,82.83
Haiti,9.11,0.11,7.06,7.13,883.36,7.28,9.78,77.18
Ecuador,8.72,0.03,6.97,7.69,420.00,6.03,10.00,80.22
India,7.62,0.04,7.67,7.64,"1,421.67",7.66,9.90,81.08

Country
Papua New Guinea   85.75
Ethiopia           85.48
Japan              84.67
United States      84.43
Kenya              84.31
Panama             83.71
Uganda             83.45
Colombia           83.11
El Salvador        83.05
China              82.93
Rwanda             82.83
Costa Rica         82.79
Thailand           82.57
Indonesia          82.57
Peru               82.53
Brazil             82.41
Taiwan             82.00
Zambia             81.92
Guatemala          81.85
Laos               81.83
Burundi            81.83
Malawi             81.71
Vietnam            81.21
India              81.08
Mexico             80.89
Philippines        80.83
Nicaragua          80.46
Ecuador            80.22
Honduras           79.36
Haiti              77.18
Name: Total_Cup_Points, dtype: float64