In [118]:
import pandas as pd
import numpy as np
from datetime import datetime

pd.set_option('display.max_rows', 1000)
pd.options.display.float_format = '{:,.2f}'.format

# d = lambda x: datetime.strptime(x, '%d-%b-%y')


coffee_dist = pd.read_csv('/Users/moezhudda/Workspace/200/github/Project2_Team_7/psd_coffee.csv', index_col=False)
coffee_review = pd.read_csv('/Users/moezhudda/Workspace/200/github/Project2_Team_7/coffee_reviews_supplemental.csv', index_col=False)

In [119]:
coffee_dist.columns = coffee_dist.columns.str.replace(' ', '_')


coffee_dist = coffee_dist[['Country', 'Year', 'Arabica_Production', 'Robusta_Production', 'Other_Production', 'Production', 'Total_Supply', 'Total_Distribution', 
            'Bean_Exports', 'Bean_Imports','Exports','Imports',
            'Roast_&_Ground_Exports','Roast_&_Ground_Imports', 'Soluble_Exports','Soluble_Imports', 'Domestic_Consumption']]

In [120]:
#Production
coffee_dist.groupby(['Country']).Production.sum()

Country
Albania                           0
Algeria                           0
Angola                        55827
Argentina                         0
Armenia                           0
Australia                         0
Benin                           869
Bolivia                        7362
Bosnia and Herzegovina            0
Brazil                      2221150
Burundi                       22106
Cameroon                      67286
Canada                            0
Central African Republic       8759
Chile                             0
China                         27974
Colombia                     705440
Congo (Brazzaville)             860
Congo (Kinshasa)              56963
Costa Rica                   113218
Cote d'Ivoire                201501
Croatia                           0
Cuba                          20339
Dominican Republic            38720
Ecuador                       69006
Egypt                             0
El Salvador                  121136
Equatorial Guinea              1944
Ethiopia                     259389
European Union                    0
Gabon                           608
Georgia                           0
Ghana                          2346
Guatemala                    197301
Guinea                        11341
Guyana                          468
Haiti                         26301
Honduras                     161341
India                        211655
Indonesia                    412023
Iran                              0
Jamaica                        1691
Japan                             0
Jordan                            0
Kazakhstan                        0
Kenya                         70944
Korea, South                      0
Kosovo                            0
Laos                          12338
Liberia                        3331
Madagascar                    49637
Malawi                         1860
Malaysia                      37694
Mexico                       253463
Montenegro                        0
Morocco                           0
New Caledonia                   575
New Zealand                       0
Nicaragua                     78680
Nigeria                        2863
North Macedonia                   0
Norway                            0
Panama                         7902
Papua New Guinea              50647
Paraguay                       3294
Peru                         134088
Philippines                   42674
Russia                            0
Rwanda                        21711
Saudi Arabia                      0
Senegal                           0
Serbia                            0
Sierra Leone                   5563
Singapore                         0
South Africa                      0
Sri Lanka                      1863
Switzerland                       0
Taiwan                            0
Tanzania                      55029
Thailand                      38261
Togo                          12654
Trinidad and Tobago            1512
Turkey                            0
Uganda                       210125
Ukraine                           0
United Kingdom                    0
United States                 11608
Uruguay                           0
Venezuela                     56168
Vietnam                      601014
Yemen                          3301
Yemen (Sanaa)                  1911
Zambia                         1233
Zimbabwe                       4228
Name: Production, dtype: int64

In [121]:
#num of countries that have these ratings
coffee_review.groupby(['rating']).rating.size()

rating
84      1
86      2
87      3
88      3
89      3
90     43
91     60
92    184
93    359
94    357
95    177
96     44
97     10
Name: rating, dtype: int64

In [126]:
#mean of country rating sorted by highest
country_review_score = coffee_review.groupby('origin').rating.mean().sort_values(ascending=False)
country_review_score

origin
Tanzania                           95.00
Panama                             94.50
Ecuador                            94.00
Kenya                              93.87
Yemen                              93.62
Hawai'I                            93.45
Ethiopia                           93.45
Taiwan                             93.44
Colombia                           93.17
Nicaragua                          93.09
Philippines                        93.00
Costa Rica                         92.91
Indonesia                          92.82
Democratic Republic Of The Congo   92.71
Honduras                           92.67
El Salvador                        92.64
Burundi                            92.50
Peru                               92.31
Guatemala                          92.30
Rwanda                             92.25
Brazil                             92.20
Mexico                             92.00
Uganda                             92.00
Bolivia                            92.00
Nepal                              91.00
Dominican Republic                 91.00
Thailand                           90.50
Name: rating, dtype: float64

In [123]:
#merged review supplemental data set with coffee distribution data set
merged_table = pd.merge(coffee_dist, coffee_review, left_on='Country', right_on='origin')
merged_table

,Country,Year,Arabica_Production,Robusta_Production,Other_Production,Production,Total_Supply,Total_Distribution,Bean_Exports,Bean_Imports,...,Domestic_Consumption,name,roaster,roast,loc_country,origin,100g_USD,rating,review_date,review
0,Bolivia,1960,28,0,0,28,33,33,13,0,...,11,Finca Kusillo Bolivia,Corvus Coffee Roasters,Medium-Light,United States,Bolivia,5.88,93,May 2020,"Deeply sweet, floral-toned. Violet, pineapple,..."
1,Bolivia,1960,28,0,0,28,33,33,13,0,...,11,Bolivia Finca El Arcangel,Hidden Coffee HK,Medium-Light,Hong Kong,Bolivia,17.94,91,September 2021,"Crisply sweet, delicately aromatic. Hazelnut, ..."
2,Bolivia,1961,34,0,0,34,43,43,27,0,...,12,Finca Kusillo Bolivia,Corvus Coffee Roasters,Medium-Light,United States,Bolivia,5.88,93,May 2020,"Deeply sweet, floral-toned. Violet, pineapple,..."
3,Bolivia,1961,34,0,0,34,43,43,27,0,...,12,Bolivia Finca El Arcangel,Hidden Coffee HK,Medium-Light,Hong Kong,Bolivia,17.94,91,September 2021,"Crisply sweet, delicately aromatic. Hazelnut, ..."
4,Bolivia,1962,38,0,0,38,42,42,23,0,...,12,Finca Kusillo Bolivia,Corvus Coffee Roasters,Medium-Light,United States,Bolivia,5.88,93,May 2020,"Deeply sweet, floral-toned. Violet, pineapple,..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
71483,Yemen,2023,0,0,0,0,0,0,0,0,...,0,Yemen Mocha Haimi,Dragonfly Coffee Roasters,Medium-Light,United States,Yemen,17.64,93,October 2021,"Quietly complex, gently bright. Macadamia nut,..."
71484,Yemen,2023,0,0,0,0,0,0,0,0,...,0,Bait Alal Community,Qima Coffee,Medium-Light,England,Yemen,20.83,93,October 2021,"Sweetly bright, intense, perfumy. Passionfruit..."
71485,Yemen,2023,0,0,0,0,0,0,0,0,...,0,Port of Mokha Auction Lot 19: Mohamed Ahmed Al...,Euphora Coffee,Medium-Light,Taiwan,Yemen,21.52,92,October 2021,Chocolaty and richly wood-framed. Dark chocola...
71486,Yemen,2023,0,0,0,0,0,0,0,0,...,0,Haraaz Red,JBC Coffee Roasters,Medium-Light,United States,Yemen,8.82,93,December 2021,"Crisply fruit-forward, sweetly tart. Goji berr..."
71487,Yemen,2023,0,0,0,0,0,0,0,0,...,0,Haraaz Red Yemen,JBC Coffee Roasters,Medium-Light,United States,Yemen,11.02,94,March 2022,"Richly spice-toned, fruit-forward. Goji berry,..."

In [124]:
merged_table.drop(columns=['roaster', 'loc_country', 'review', 'name', 'roast'], inplace=True)

In [127]:
#running mean on ratings for countries we have in both the dist and our new merged table
country_review_score = merged_table.groupby('origin').rating.mean().sort_values(ascending=False)
country_review_score

origin
Tanzania             95.00
Panama               94.50
Ecuador              94.00
Kenya                93.87
Yemen                93.62
Ethiopia             93.45
Taiwan               93.44
Colombia             93.17
Nicaragua            93.09
Philippines          93.00
Costa Rica           92.91
Indonesia            92.82
Honduras             92.67
El Salvador          92.64
Burundi              92.50
Peru                 92.31
Guatemala            92.30
Rwanda               92.25
Brazil               92.20
Uganda               92.00
Bolivia              92.00
Mexico               92.00
Dominican Republic   91.00
Thailand             90.50
Name: rating, dtype: float64

In [132]:
#getting average cost per country by 100G USD
merged_table.rename(columns={'100g_USD': 'cost_100G'}, inplace=True)
country_avg_cost = merged_table.groupby('origin').cost_100G.mean().sort_values(ascending=False)
country_avg_cost

origin
Tanzania             68.32
Ecuador              35.64
Panama               32.05
Taiwan               20.14
Yemen                16.73
Philippines          13.67
Bolivia              11.91
Colombia              9.93
El Salvador           9.85
Nicaragua             8.67
Ethiopia              7.50
Kenya                 7.30
Costa Rica            7.27
Honduras              6.39
Burundi               6.34
Brazil                6.18
Guatemala             6.11
Indonesia             6.03
Peru                  5.61
Uganda                5.58
Rwanda                5.43
Mexico                5.39
Thailand              4.98
Dominican Republic    3.82
Name: cost_100G, dtype: float64

In [128]:
merged_table[merged_table['Country'] == 'Tanzania']

,Country,Year,Arabica_Production,Robusta_Production,Other_Production,Production,Total_Supply,Total_Distribution,Bean_Exports,Bean_Imports,...,Imports,Roast_&_Ground_Exports,Roast_&_Ground_Imports,Soluble_Exports,Soluble_Imports,Domestic_Consumption,origin,100g_USD,rating,review_date
70272,Tanzania,1960,308,154,0,462,663,663,507,0,...,0,0,0,0,0,1,Tanzania,66.09,95,August 2021
70273,Tanzania,1960,308,154,0,462,663,663,507,0,...,0,0,0,0,0,1,Tanzania,70.55,95,November 2021
70274,Tanzania,1961,200,100,0,300,455,455,317,0,...,0,0,0,0,0,1,Tanzania,66.09,95,August 2021
70275,Tanzania,1961,200,100,0,300,455,455,317,0,...,0,0,0,0,0,1,Tanzania,70.55,95,November 2021
70276,Tanzania,1962,300,148,0,448,585,585,467,0,...,0,0,0,0,0,1,Tanzania,66.09,95,August 2021
70277,Tanzania,1962,300,148,0,448,585,585,467,0,...,0,0,0,0,0,1,Tanzania,70.55,95,November 2021
70278,Tanzania,1963,340,169,0,509,626,626,488,0,...,0,0,0,0,0,2,Tanzania,66.09,95,August 2021
70279,Tanzania,1963,340,169,0,509,626,626,488,0,...,0,0,0,0,0,2,Tanzania,70.55,95,November 2021
70280,Tanzania,1964,352,176,0,528,664,664,522,0,...,0,0,0,0,0,4,Tanzania,66.09,95,August 2021
70281,Tanzania,1964,352,176,0,528,664,664,522,0,...,0,0,0,0,0,4,Tanzania,70.55,95,November 2021
70282,Tanzania,1965,507,253,0,760,898,898,588,0,...,0,0,0,0,0,5,Tanzania,66.09,95,August 2021
70283,Tanzania,1965,507,253,0,760,898,898,588,0,...,0,0,0,0,0,5,Tanzania,70.55,95,November 2021
70284,Tanzania,1966,563,281,0,844,1149,1149,860,0,...,0,0,0,0,0,7,Tanzania,66.09,95,August 2021
70285,Tanzania,1966,563,281,0,844,1149,1149,860,0,...,0,0,0,0,0,7,Tanzania,70.55,95,November 2021
70286,Tanzania,1967,418,209,0,627,909,909,800,0,...,0,0,0,0,0,8,Tanzania,66.09,95,August 2021
70287,Tanzania,1967,418,209,0,627,909,909,800,0,...,0,0,0,0,0,8,Tanzania,70.55,95,November 2021
70288,Tanzania,1968,610,341,0,951,1052,1052,856,0,...,0,0,0,0,0,12,Tanzania,66.09,95,August 2021
70289,Tanzania,1968,610,341,0,951,1052,1052,856,0,...,0,0,0,0,0,12,Tanzania,70.55,95,November 2021
70290,Tanzania,1969,400,199,0,599,783,783,701,0,...,0,0,0,1,0,14,Tanzania,66.09,95,August 2021
70291,Tanzania,1969,400,199,0,599,783,783,701,0,...,0,0,0,1,0,14,Tanzania,70.55,95,November 2021
70292,Tanzania,1970,606,303,0,909,976,976,680,0,...,0,0,0,2,0,17,Tanzania,66.09,95,August 2021
70293,Tanzania,1970,606,303,0,909,976,976,680,0,...,0,0,0,2,0,17,Tanzania,70.55,95,November 2021
70294,Tanzania,1971,606,302,0,908,1185,1185,669,0,...,0,0,0,3,0,18,Tanzania,66.09,95,August 2021
70295,Tanzania,1971,606,302,0,908,1185,1185,669,0,...,0,0,0,3,0,18,Tanzania,70.55,95,November 2021
70296,Tanzania,1972,749,374,0,1123,1618,1618,1101,0,...,0,0,0,3,0,21,Tanzania,66.09,95,August 2021
70297,Tanzania,1972,749,374,0,1123,1618,1618,1101,0,...,0,0,0,3,0,21,Tanzania,70.55,95,November 2021
70298,Tanzania,1973,331,165,0,496,989,989,822,0,...,0,0,0,3,0,24,Tanzania,66.09,95,August 2021
70299,Tanzania,1973,331,165,0,496,989,989,822,0,...,0,0,0,3,0,24,Tanzania,70.55,95,November 2021
70300,Tanzania,1974,624,311,0,935,1075,1075,786,0,...,0,0,0,3,0,26,Tanzania,66.09,95,August 2021
70301,Tanzania,1974,624,311,0,935,1075,1075,786,0,...,0,0,0,3,0,26,Tanzania,70.55,95,November 2021
70302,Tanzania,1975,640,319,0,959,1219,1219,1032,0,...,0,0,0,5,0,25,Tanzania,66.09,95,August 2021
70303,Tanzania,1975,640,319,0,959,1219,1219,1032,0,...,0,0,0,5,0,25,Tanzania,70.55,95,November 2021
70304,Tanzania,1976,537,268,0,805,962,962,740,0,...,0,0,0,5,0,25,Tanzania,66.09,95,August 2021
70305,Tanzania,1976,537,268,0,805,962,962,740,0,...,0,0,0,5,0,25,Tanzania,70.55,95,November 2021
70306,Tanzania,1977,577,258,0,835,1027,1027,767,0,...,0,0,0,6,0,21,Tanzania,66.09,95,August 2021
70307,Tanzania,1977,577,258,0,835,1027,1027,767,0,...,0,0,0,6,0,21,Tanzania,70.55,95,November 2021
70308,Tanzania,1978,571,285,0,856,1089,1089,954,0,...,0,0,0,6,0,20,Tanzania,66.09,95,August 2021
70309,Tanzania,1978,571,285,0,856,1089,1089,954,0,...,0,0,0,6,0,20,Tanzania,70.55,95,November 2021
70310,Tanzania,1979,475,286,0,761,870,870,687,0,...,0,0,0,5,0,17,Tanzania,66.09,95,August 2021
70311,Tanzania,1979,475,286,0,761,870,870,687,0,...,0,0,0,5,0,17,Tanzania,70.55,95,November 2021
70312,Tanzania,1980,819,241,0,1060,1221,1221,775,0,...,0,0,0,5,0,19,Tanzania,66.09,95,August 2021
70313,Tanzania,1980,819,241,0,1060,1221,1221,775,0,...,0,0,0,5,0,19,Tanzania,70.55,95,November 2021
70314,Tanzania,1981,737,222,0,959,1381,1381,931,0,...,0,0,0,4,0,20,Tanzania,66.09,95,August 2021
70315,Tanzania,1981,737,222,0,959,1381,1381,931,0,...,0,0,0,4,0,20,Tanzania,70.55,95,November 2021
70316,Tanzania,1982,801,232,0,1033,1459,1459,982,0,...,0,0,0,3,0,20,Tanzania,66.09,95,August 2021
70317,Tanzania,1982,801,232,0,1033,1459,1459,982,0,...,0,0,0,3,0,20,Tanzania,70.55,95,November 2021
70318,Tanzania,1983,625,218,0,843,1297,1297,906,0,...,0,3,0,0,0,20,Tanzania,66.09,95,August 2021
70319,Tanzania,1983,625,218,0,843,1297,1297,906,0,...,0,3,0,0,0,20,Tanzania,70.55,95,November 2021
70320,Tanzania,1984,600,196,0,796,1164,1164,787,0,...,0,3,0,0,0,22,Tanzania,66.09,95,August 2021
70321,Tanzania,1984,600,196,0,796,1164,1164,787,0,...,0,3,0,0,0,22,Tanzania,70.55,95,November 2021
70322,Tanzania,1985,642,225,0,867,1219,1219,792,0,...,0,2,0,0,0,13,Tanzania,66.09,95,August 2021
70323,Tanzania,1985,642,225,0,867,1219,1219,792,0,...,0,2,0,0,0,13,Tanzania,70.55,95,November 2021
70324,Tanzania,1986,503,198,0,701,1113,1113,818,0,...,0,0,0,2,0,15,Tanzania,66.09,95,August 2021
70325,Tanzania,1986,503,198,0,701,1113,1113,818,0,...,0,0,0,2,0,15,Tanzania,70.55,95,November 2021
70326,Tanzania,1987,638,180,0,818,1096,1096,625,0,...,0,0,0,8,0,5,Tanzania,66.09,95,August 2021
70327,Tanzania,1987,638,180,0,818,1096,1096,625,0,...,0,0,0,8,0,5,Tanzania,70.55,95,November 2021
70328,Tanzania,1988,759,203,0,962,1420,1420,837,0,...,0,0,0,4,0,6,Tanzania,66.09,95,August 2021
70329,Tanzania,1988,759,203,0,962,1420,1420,837,0,...,0,0,0,4,0,6,Tanzania,70.55,95,November 2021
70330,Tanzania,1989,613,275,0,888,1461,1461,946,0,...,0,0,0,6,0,6,Tanzania,66.09,95,August 2021
70331,Tanzania,1989,613,275,0,888,1461,1461,946,0,...,0,0,0,6,0,6,Tanzania,70.55,95,November 2021
70332,Tanzania,1990,553,210,0,763,1266,1266,843,0,...,0,0,0,9,0,6,Tanzania,66.09,95,August 2021
70333,Tanzania,1990,553,210,0,763,1266,1266,843,0,...,0,0,0,9,0,6,Tanzania,70.55,95,November 2021
70334,Tanzania,1991,640,150,0,790,1198,1198,801,0,...,0,0,0,6,0,6,Tanzania,66.09,95,August 2021
70335,Tanzania,1991,640,150,0,790,1198,1198,801,0,...,0,0,0,6,0,6,Tanzania,70.55,95,November 2021
70336,Tanzania,1992,792,200,0,992,1377,1377,942,0,...,0,0,0,10,0,19,Tanzania,66.09,95,August 2021
70337,Tanzania,1992,792,200,0,992,1377,1377,942,0,...,0,0,0,10,0,19,Tanzania,70.55,95,November 2021
70338,Tanzania,1993,626,110,0,736,1142,1142,871,0,...,0,0,0,8,0,18,Tanzania,66.09,95,August 2021
70339,Tanzania,1993,626,110,0,736,1142,1142,871,0,...,0,0,0,8,0,18,Tanzania,70.55,95,November 2021
70340,Tanzania,1994,475,205,0,680,925,925,609,0,...,0,0,0,5,0,18,Tanzania,66.09,95,August 2021
70341,Tanzania,1994,475,205,0,680,925,925,609,0,...,0,0,0,5,0,18,Tanzania,70.55,95,November 2021
70342,Tanzania,1995,754,143,0,897,1190,1190,928,0,...,0,0,0,7,0,14,Tanzania,66.09,95,August 2021
70343,Tanzania,1995,754,143,0,897,1190,1190,928,0,...,0,0,0,7,0,14,Tanzania,70.55,95,November 2021
70344,Tanzania,1996,572,193,0,765,1006,1006,760,0,...,0,0,0,8,0,17,Tanzania,66.09,95,August 2021
70345,Tanzania,1996,572,193,0,765,1006,1006,760,0,...,0,0,0,8,0,17,Tanzania,70.55,95,November 2021
70346,Tanzania,1997,427,197,0,624,845,845,596,0,...,0,0,0,10,0,17,Tanzania,66.09,95,August 2021
70347,Tanzania,1997,427,197,0,624,845,845,596,0,...,0,0,0,10,0,17,Tanzania,70.55,95,November 2021
70348,Tanzania,1998,493,246,0,739,961,961,715,0,...,0,0,0,10,0,17,Tanzania,66.09,95,August 2021
70349,Tanzania,1998,493,246,0,739,961,961,715,0,...,0,0,0,10,0,17,Tanzania,70.55,95,November 2021
70350,Tanzania,1999,623,219,0,842,1061,1061,749,0,...,0,0,0,10,0,14,Tanzania,66.09,95,August 2021
70351,Tanzania,1999,623,219,0,842,1061,1061,749,0,...,0,0,0,10,0,14,Tanzania,70.55,95,November 2021
70352,Tanzania,2000,628,181,0,809,1097,1097,806,0,...,0,0,0,10,0,15,Tanzania,66.09,95,August 2021
70353,Tanzania,2000,628,181,0,809,1097,1097,806,0,...,0,0,0,10,0,15,Tanzania,70.55,95,November 2021
70354,Tanzania,2001,449,175,0,624,890,890,647,0,...,0,0,0,10,0,15,Tanzania,66.09,95,August 2021
70355,Tanzania,2001,449,175,0,624,890,890,647,0,...,0,0,0,10,0,15,Tanzania,70.55,95,November 2021
70356,Tanzania,2002,478,346,0,824,1042,1042,810,0,...,0,0,0,10,0,15,Tanzania,66.09,95,August 2021
70357,Tanzania,2002,478,346,0,824,1042,1042,810,0,...,0,0,0,10,0,15,Tanzania,70.55,95,November 2021
70358,Tanzania,2003,379,233,0,612,819,819,600,0,...,0,0,0,10,0,100,Tanzania,66.09,95,August 2021
70359,Tanzania,2003,379,233,0,612,819,819,600,0,...,0,0,0,10,0,100,Tanzania,70.55,95,November 2021
70360,Tanzania,2004,570,500,0,1070,1179,1179,660,0,...,0,0,0,10,0,19,Tanzania,66.09,95,August 2021
70361,Tanzania,2004,570,500,0,1070,1179,1179,660,0,...,0,0,0,10,0,19,Tanzania,70.55,95,November 2021
70362,Tanzania,2005,460,150,0,610,1100,1100,740,0,...,0,0,0,10,0,25,Tanzania,66.09,95,August 2021
70363,Tanzania,2005,460,150,0,610,1100,1100,740,0,...,0,0,0,10,0,25,Tanzania,70.55,95,November 2021
70364,Tanzania,2006,590,325,0,915,1240,1240,800,0,...,0,0,0,10,0,15,Tanzania,66.09,95,August 2021
70365,Tanzania,2006,590,325,0,915,1240,1240,800,0,...,0,0,0,10,0,15,Tanzania,70.55,95,November 2021
70366,Tanzania,2007,490,250,0,740,1155,1155,760,0,...,0,0,0,10,0,25,Tanzania,66.09,95,August 2021
70367,Tanzania,2007,490,250,0,740,1155,1155,760,0,...,0,0,0,10,0,25,Tanzania,70.55,95,November 2021
70368,Tanzania,2008,650,500,0,1150,1510,1510,1200,0,...,0,0,0,5,0,25,Tanzania,66.09,95,August 2021
70369,Tanzania,2008,650,500,0,1150,1510,1510,1200,0,...,0,0,0,5,0,25,Tanzania,70.55,95,November 2021
70370,Tanzania,2009,400,200,0,600,880,880,800,0,...,0,0,0,5,0,35,Tanzania,66.09,95,August 2021
70371,Tanzania,2009,400,200,0,600,880,880,800,0,...,0,0,0,5,0,35,Tanzania,70.55,95,November 2021
70372,Tanzania,2010,600,450,0,1050,1090,1090,1000,0,...,0,0,0,5,0,35,Tanzania,66.09,95,August 2021
70373,Tanzania,2010,600,450,0,1050,1090,1090,1000,0,...,0,0,0,5,0,35,Tanzania,70.55,95,November 2021
70374,Tanzania,2011,365,200,0,565,615,615,520,0,...,0,0,0,5,0,45,Tanzania,66.09,95,August 2021
70375,Tanzania,2011,365,200,0,565,615,615,520,0,...,0,0,0,5,0,45,Tanzania,70.55,95,November 2021
70376,Tanzania,2012,610,570,0,1180,1225,1225,915,0,...,0,0,0,5,0,50,Tanzania,66.09,95,August 2021
70377,Tanzania,2012,610,570,0,1180,1225,1225,915,0,...,0,0,0,5,0,50,Tanzania,70.55,95,November 2021
70378,Tanzania,2013,450,350,0,800,1055,1055,800,0,...,0,0,0,3,0,50,Tanzania,66.09,95,August 2021
70379,Tanzania,2013,450,350,0,800,1055,1055,800,0,...,0,0,0,3,0,50,Tanzania,70.55,95,November 2021
70380,Tanzania,2014,600,550,0,1150,1352,1352,970,0,...,0,0,0,10,0,50,Tanzania,66.09,95,August 2021
70381,Tanzania,2014,600,550,0,1150,1352,1352,970,0,...,0,0,0,10,0,50,Tanzania,70.55,95,November 2021
70382,Tanzania,2015,600,500,0,1100,1422,1422,1100,0,...,0,0,0,20,0,52,Tanzania,66.09,95,August 2021
70383,Tanzania,2015,600,500,0,1100,1422,1422,1100,0,...,0,0,0,20,0,52,Tanzania,70.55,95,November 2021
70384,Tanzania,2016,550,500,0,1050,1300,1300,1000,0,...,0,0,0,30,0,50,Tanzania,66.09,95,August 2021
70385,Tanzania,2016,550,500,0,1050,1300,1300,1000,0,...,0,0,0,30,0,50,Tanzania,70.55,95,November 2021
70386,Tanzania,2017,600,550,0,1150,1370,1370,1000,0,...,0,0,0,30,0,50,Tanzania,66.09,95,August 2021
70387,Tanzania,2017,600,550,0,1150,1370,1370,1000,0,...,0,0,0,30,0,50,Tanzania,70.55,95,November 2021
70388,Tanzania,2018,700,600,0,1300,1590,1590,1200,0,...,0,0,0,30,0,50,Tanzania,66.09,95,August 2021
70389,Tanzania,2018,700,600,0,1300,1590,1590,1200,0,...,0,0,0,30,0,50,Tanzania,70.55,95,November 2021
70390,Tanzania,2019,650,600,0,1250,1560,1560,1200,0,...,0,0,0,30,0,50,Tanzania,66.09,95,August 2021
70391,Tanzania,2019,650,600,0,1250,1560,1560,1200,0,...,0,0,0,30,0,50,Tanzania,70.55,95,November 2021
70392,Tanzania,2020,700,650,0,1350,1636,1636,1050,0,...,6,0,0,7,6,75,Tanzania,66.09,95,August 2021
70393,Tanzania,2020,700,650,0,1350,1636,1636,1050,0,...,6,0,0,7,6,75,Tanzania,70.55,95,November 2021
70394,Tanzania,2021,740,550,0,1290,1803,1803,1240,0,...,9,0,0,7,9,40,Tanzania,66.09,95,August 2021
70395,Tanzania,2021,740,550,0,1290,1803,1803,1240,0,...,9,0,0,7,9,40,Tanzania,70.55,95,November 2021
70396,Tanzania,2022,600,520,0,1120,1642,1642,1150,0,...,6,0,0,10,6,75,Tanzania,66.09,95,August 2021
70397,Tanzania,2022,600,520,0,1120,1642,1642,1150,0,...,6,0,0,10,6,75,Tanzania,70.55,95,November 2021
70398,Tanzania,2023,750,600,0,1350,1763,1763,1260,0,...,6,0,0,10,6,77,Tanzania,66.09,95,August 2021
70399,Tanzania,2023,750,600,0,1350,1763,1763,1260,0,...,6,0,0,10,6,77,Tanzania,70.55,95,November 2021